body.color{
    background-color: #0d0d0d;
}

div.container-fluid{
	margin-top: 2%;
}
nav.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #0d0d0d;
}
ul.dropdown-menu{
    background-color: #fabf00;
}
a.dropdown-item{
    font-family: 'Luckiest Guy', sans-serif;
}

a.link {
    color: #fabf00;
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
    font-family: 'Luckiest Guy', sans-serif;

   }
a.link:hover {
    color: white;  
   }
p.title{
    position: relative;
    font-family: 'Luckiest Guy', sans-serif;
    color: white;
    font-size: 180px;
    margin-top: -28%;
}
p.title-city{
    position: relative;
    font-family: 'Luckiest Guy', sans-serif;
    margin-top: -6%;
    font-size: 70px;
    color: #fabf00;
}
table{
    text-align: center;
    margin-top: 4%;
    font-family: 'Luckiest Guy', sans-serif;
}

tr.h1-title{
    margin-top: 2%;
    color: white;   
}
tr{
   color: #fabf00;
}

a.big-link {
    color: #fabf00;
    text-decoration: none;
    margin: 15px;
    font-size: 60px;
    font-family: 'Luckiest Guy', sans-serif;

   }
a.big-link:hover {
    color: white;  
   }


h1.name-text{
    margin-top: 7%;
    color: white;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 70px;
}
h1.title-text{
    position: relative;
    margin-top: -20%;
    font-family: 'Luckiest Guy', sans-serif;
    color: #fabf00;
    font-size: 40px;
}
h1.avtor{
    position: relative;
    margin-top: 2%;
    color: white;
}

a.link-line{
    color: #fabf00;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 70px;
}
a.link-line:hover{
    color: #fabf00;
    text-decoration: none;
}

h1.tt-blid{
    position: relative;
    margin-top: -40%;
    color: #fabf00;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 100px;
}
h4.blid{
    color: white;
}
h1.tt-title{
    position: relative;
    margin-left: 60%;
    margin-top: -25%;
    color: #fabf00;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 100px;
}

h3.tt-collapse{
    margin-left: 90px;
}
p.tt-p{
    color: white;
    margin-left: 100px;
}
button.btn{
    background: #fabf00;
}
button.btn:hover{
    background: white;
}



p.tt-box, p.tt-box:hover{
    color: white;
    text-decoration: none;
}



/*---------------------*/

/*Our-menu*/

div.scale {
    display: inline-block; 
    overflow: hidden; 
   }
img.scale {
    transition: 1s; 
    display: block; 
   }
img.scale:hover {
    transform: scale(1.2); 
   }

button.btn-top{
    position: relative;
    background: #fabf00;
    font-family: 'Luckiest Guy', sans-serif;
    height: 40px;

}
button.btn-top:hover{
    background: rgba(255,255,255,0.5);
}
