body.color{
    background-color: #0d0d0d;
}

div.container-fluid{
	margin-top: 2%;
}
nav.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #0d0d0d;
}
ul.dropdown-menu{
    background-color: #fabf00;
}
a.dropdown-item{
    font-family: 'Luckiest Guy', sans-serif;
}

a.link {
    color: #fabf00;
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
    font-family: 'Luckiest Guy', sans-serif;

   }
a.link:hover {
    color: white;  
   }


p.title{
    position: relative;
    font-family: 'Luckiest Guy', sans-serif;
    color: white;
    font-size: 220px;
    margin-top: -30%;
}
p.title-city{
    position: relative;
    font-family: 'Luckiest Guy', sans-serif;
    margin-top: -6%;
    font-size: 90px;
    color: #fabf00;
}
h1.indent{
    margin-right: 150px;
}
h1.indent-2{
    margin-right: 140px;
}


table{
    text-align: center;
    margin-top: 4%;
    font-family: 'Luckiest Guy', sans-serif;
}

.h1-title{
    margin-top: 2%;
    color: white;   
}
tr{
   color: #fabf00;
}

a.big-link {
    color: #fabf00;
    text-decoration: none;
    margin: 15px;
    font-size: 60px;
    font-family: 'Luckiest Guy', sans-serif;

   }
a.big-link:hover {
    color: white;  
   }


h1.name-text{
    margin-top: 7%;
    color: white;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 70px;
}
h1.title-text{
    position: relative;
    margin-top: -20%;
    font-family: 'Luckiest Guy', sans-serif;
    color: #fabf00;
    font-size: 40px;
}

/*-------------------*/
/*Это эффект при наведении*/

div.gallery-grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

div.grid-inner{
    position: relative;
    display: flex;
    cursor: pointer;
}
div.grid-inner:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: all .4s ease;
    content: '';
}

div.grid-inner:hover:before{
    opacity: 1;
}
div.grid-img{
    object-fit: cover;
}

div.grid-title{
    position: absolute;
    top: 50%;
    left: 28%;
    white-space: nowrap;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 24px;
    overflow: hidden;
}
.grid-title > span{
    display: block;
    transform: translateY(135px);
    transition: transform .4s ease;
}

.grid-inner:hover .grid-title > span{
    transform: translateY(0);
}
a.name{
    text-decoration: none;
    color: #fabf00;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 28px;
}
a.name:hover{
    color: white;
}


button.btn-name{
    background: #fabf00;

}
button.btn-name:hover{
    background: white;
}


/*-----------------------*/
h1.name{
    position: relative; 
    top: 150px; 
    margin-left: 80px;
    font-size: 50px;
    color: white;"
    font-family: 'Luckiest Guy', sans-serif;
}


/*920 строка*/
/*Инстаграм сылка*/

div.gallery-inst{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

}
div.inst-inner{
    position: relative;
    display: flex;
    cursor: pointer;
}
div.inst-inner:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .4s ease;
    content: '';
}

div.inst-inner:hover:before{
    opacity: 1;
}
div.inst-img{
    object-fit: cover;
    width: 348px;
}
div.inst-title{
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 24px;
    overflow: hidden;
}
.inst-title > span{
    display: block;
    transform: translateY(30px);
    transition: transform .4s ease;
}

.inst-inner:hover .inst-title > span{
    transform: translateY(0);
}

/*------------------*/


h1.avtor{
    position: relative;
    margin-top: 2%;
    color: white;
}

a.link-line{
    color: #fabf00;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 70px;
}
a.link-line:hover{
    color: #fabf00;
    text-decoration: none;
}

h1.tt-blid{
    position: relative;
    margin-top: -40%;
    color: #fabf00;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 100px;
}
.blid{
    color: white;
}
img.tt-img{
    width: 2110px;
}
img.tt-img-2{
    width: 2110px;
}
h1.tt-title{
    position: relative;
    margin-left: 60%;
    margin-top: -25%;
    color: #fabf00;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 100px;
}

h3.tt-collapse{
    margin-left: 90px;
}
p.tt-p{
    color: white;
    margin-left: 100px;
}
button.btn{
    background: #fabf00;
}
button.btn:hover{
    background: white;
}


.tt-box, .tt-box:hover{
    color: white;
    text-decoration: none;
}


@media (max-width: 1400px){
    .h1-title{
        margin-top: 10%;
    }
    p.title{
    font-size: 180px;
    margin-top: -35%;
    }
    p.title-city{
        font-size: 60px;
        color: #fabf00;
    }
    h1.indent{
        margin-right: 100px;
        font-size: 40px;
    }
    h1.indent-2{
        margin-right: 100px;
        font-size: 40px;
    }
    h1.indent-3{
        font-size: 40px;
    }
    div.grid-title{
        top: 50%;
        left: 24%;
        font-size: 22px;
    }
    img.tt-img{
        width: 1232px;
    }
    img.tt-img-2{
        margin-top: 0.8%;
        width: 1232px;
    }
    h1.tt-title{
        margin-top: -30%;
        font-size: 90px;
    }
}

@media (max-width: 1200px){
    img.image{
        width: 950px;
    }
    p.title{
    font-size: 170px;
    margin-top: -35%;
    }
    p.title-city{
        font-size: 50px;
        color: #fabf00;
    }
    
    h1.indent{
        margin-right: 100px;
        font-size: 30px;
    }
    h1.indent-2{
        margin-right: 100px;
        font-size: 30px;
    }
    h1.indent-3{
        font-size: 30px;
    }
    div.grid-title{
        font-size: 20px;
        white-space: nowrap;
    }
}

@media (max-width: 1000px){
    img.tt-img-2{
        margin-top: 2%;
        margin-bottom: 5%;
    }
    h1.tt-blid{
        margin-top: -30%;
        font-size: 40px;
    }
    .blid{
        font-size: 20px;
    }
    h1.tt-title{
        margin-left: 40%;
        font-size: 30px;
    }
    .grid-title > span{
    display: block;
    transform: none;
    transition: transform .4s ease;
}

    .grid-inner:hover .grid-title > span{
        transform: none;
    }
}




/*---------------------*/

/*Our-menu*/

div.scale {
    display: inline-block; 
    overflow: hidden; 
   }
img.scale {
    transition: 1s; 
    display: block; 
   }
img.scale:hover {
    transform: scale(1.2); 
   }

button.btn-top{
    position: relative;
    background: #fabf00;
    font-family: 'Luckiest Guy', sans-serif;
    height: 40px;

}
button.btn-top:hover{
    background: rgba(255,255,255,0.5);
}
