div.cart-table {
	margin-bottom: 200px;
}

div.cart-table * {
	font-family: 'Roboto', sans-serif;
}

div.cart-table * i {
	font-size: 20px;
	color: #fabf00;
	position: relative;
}

div.cart-table table {
	width: 100%;
}

div.cart-table > h1 {
	color: #fff;
	text-align: center;
	margin: 10px auto 10px auto;
	position: relative;
	top: 60px;
}

div.cart-table table img {
	width: 110px;
	height: 110px;
	padding: 10px;
}

div.cart-table table tbody tr td {

}

div.cart-table table tbody tr td.product-title {
	color: #fff;
	position: relative;
	right: 70px;
}

div.cart-table table tbody tr td form span.quantity select#id_quantity {
	background-color: #0E0E0E;
	border: 2px solid #fabf00;
	color: #fabf00;
	padding: 5px;
	margin: auto 20px;
}

div.cart-table table tbody tr td form > input[name="update"] {
	background-color: #000 !important;
}

div.cart-table table tbody tr td form {
	position: relative;
	right: 80px;
}

div.cart-table table tbody tr td form input[value="Update"] {
	background-color: #0E0E0E;
	color: #fabf00;
	border: 2px solid #fabf00;
	padding: 2px;
	font-weight: 600;
}

div.cart-table table tbody tr td.price,
div.cart-table table tbody tr td.total_price {
	color: #fff;
	position: relative;
}

div.cart-table h3 {
	color: #fff;
	margin: 40px 0px 0px 0px;
	border-bottom: 1px solid #393939;
}

div.cart-table h3 span {
	float: right;
}

div.cart-table button {
	color: #fabf00;
	background-color: #0e0e0e;
	border: 3px solid #fabf00;
	font-size: 24px;
	font-family: 'Luckiest Guy';
	margin: 10px auto;
	padding: 5px 20px;
}

div.cart-table button:hover {
	color: #000;
	background-color: #fff;
	border: 3px solid #fff;
}


@media (max-width: 1200px) {
	div.cart-table table tbody tr td.product-title {
		right: 50px;
	}
}

@media (max-width: 1000px) {
	div.cart-table table tbody tr td.product-title {
		left: 10px !important;
		bottom: 35px;
	}

	div.cart-table table tbody tr td form {
		right: 240px;
	}

}

@media (max-width: 780px) {
	div.cart-table table tbody tr td.product-title {
		bottom: 30px;
		font-size: 14px;
	}

	div.cart-table table tbody tr td form {
		top: 20px;
		display: flex;
		float: left;
		right: 115px;
	}

	div.cart-table table tbody tr td.price {
		right: 25px;
	}

	div.cart-table table tbody tr td.total_price {
		right: 10px;
	}
}


@media (max-width: 600px) {
	div.cart-table table tbody tr {
		height: 150px;
	}

	div.cart-table table tbody tr td.product-title {
		white-space: nowrap;
	}

	div.cart-table table tbody tr td form {
		right: 190px;
		top: 30px;
	}

	div.cart-table table tbody tr td.price {
		right: 325px;
	}

	div.cart-table table tbody tr td.total_price {
		right: 305px;
	}

	div.cart-table table tbody tr td a i {
		right: 300px;
		top: 35px;
	}
}