{% extends '_base.html' %}

{% block content %}

    <div class="container account">
        <h1>Account</h1>
        <h2>My account</h2>
        <hr class="text-light">
        <h3>Order history</h3>
        <p>You haven't placed any orders yet.</p>
        <div class="account-details">
            <h2>Account details</h2>
            {% include "users/addresses_table.html" %}
            <a href="{% url 'edit_profile' %}">Edit</a>
        </div>
    </div>

{% endblock content %}