{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-xxl">
	<nav aria-label="breadcrumb" style="margin-top: 10%;">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="#">Home</a></li>
	    	<li class="breadcrumb-item active" aria-current="page">Library</li>
	  	</ol>
	</nav>

	<div style="margin-top: 8%;">


		<div class="scale"><img src="{% static 'image/BURGER_INDIANA_1024x.jpg' %}" alt="" width="428" class="scale"></div>
		<button class="btn-top"><h1>BURGERS</h1></button>
		<div class="scale"><img src="{% static 'image/SALAD_NY_600x.jpg' %}" alt="" width="428" class="scale"></div>
		<button class="btn-top"><h1>SALADS</h1></button>
		<div class="scale"><img src="{% static 'image/THE_LEMONADE_1_600x.jpg' %}" alt="" width="428" class="scale"></div>
		<button class="btn-top"><h1>BEVERAGES</h1></button>
		<div class="scale"><img src="{% static 'image/CHICKEN_STICKS_600x.jpg' %}" alt="" width="320" class="scale"></div>
		<button>sdfghjk</button>
		<div class="scale"><img src="{% static 'image/FRENCH_FRIES_1_600x.jpg' %}" alt="" width="320" class="scale"></div>
		<button>sdfghjk</button>
		<div class="scale"><img src="{% static 'image/AMERICAN_CHOWDER_600x.jpg' %}" alt="" width="320" class="scale"></div>
		<button>sdfghjk</button>
		<div class="scale"><img src="{% static 'image/CHILLI_SAUCE_600x.jpg' %}" alt="" width="320" class="scale"></div>
		<button>sdfghjk</button>
	</div>

</div>







{% endblock content %}