{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
	<nav aria-label="breadcrumb" style="margin-top: 10%;">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item link" ><a href="#">Home</a></li>
	    	<li class="breadcrumb-item active" aria-current="page">Potatoes</li>
	  	</ol>
	</nav>
	<h1 class="name-text">POTATOES</h1>

	<div class="gallery-grid">
        <div class="grid-item">
            <div class="grid-inner">
                <img src="" alt="" class="grid-img" width="420">
                <div class="grid-title">
                    <span>
                        <center>   	
                            <a href=""class="name"></a>
                            <h1 style="color: white;"></h1>
                            <button class="btn-name">ADD TO CART</button>
                        </center>
                    </span>     
                </div>
            </div>
        </div>    
    </div>
</div>

{% endblock content %}